@font-face {
    font-family: 'Norse';
    src: url('.fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    font-size: 100%;
    line-height: 1.5;
}

h1, h3, h4 {
    margin: 0;
    padding: 0;
}

.logo-area {
    background: rgba(0, 0, 0, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
}

.logo-area h1 {
    font-family: "Norse", sans-serif;
    font-size: 90px;
    padding: 0;
    margin: 0;
    color: white;
}

.logo-area img {
    width: 100px;
}

form {
    background: white;
    padding:10px;
    box-shadow: black 2px 2px 10px;
}