@font-face {
    font-family: 'Norse';
    src: url('.fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* Resets */
:root {
    font-size: 100%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}
button, 
input,
label {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Flex area */
body,
.logo-area,
.half-page,
.side-image-area,
.form-container,
form {
    display: flex;
}

body {
    background: rgb(254, 244, 255);
    align-items: stretch;
    height: 150vh;
}

.side-image-area {
    flex-direction: column;
    justify-content: flex-start;
    min-width: 40vw;
    background: rgb(139, 166, 255);
}
header,
.form-container {
    padding-left: 3em;
}
header {
    font-size: 15px;
    margin-top: 10rem;
    padding-right: 1em;
    margin-bottom: 2rem;
}

.logo-area {
    background: rgba(0, 0, 0, 25%);
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-top:13.3em;
}

.logo-area h1 {
    font-family: "Norse", sans-serif;
    font-size: 90px;
    padding: 0;
    margin: 0;
    color: white;
}

.logo-area img {
    width: 100px;
}

.half-page {
    flex-direction: column;
    gap: 2rem;
}

.form-container {
    flex-direction: column;
    background: white;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    box-shadow: black 2px 2px 10px;
    max-height: auto;
    gap: 1em;
}

form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1.2em;
    max-width: 40vw;
}
form h3 {
    margin-bottom: 1em;
}


.sign-up-row:nth-child(even) {
    padding-left:3.5em;
}

.sign-up-row label {
    color: grey;
    font-weight:700;
}

.sign-up-row input {
    display: block;
    height: 2em;
    padding-left: 0.3em;
    border: grey 1px solid;
    border-radius: 5px;
}
.footer {
    margin-left: 3em;
}

button {
    border-style: none;
    padding: 1em;
    width: 14rem;
    border-radius: 5px;
    background: rgb(205, 122, 226);
    color: white;
    font-weight: 700;
    margin-bottom: 0.75em;
    box-shadow: rgb(86, 50, 128) 2px 2px 4px;
}

button:hover {
    background: rgb(250, 61, 225);
}

button:active {
    box-shadow: inset 0px 0px 10px rgb(130, 42, 156);
    background: rgb(160, 63, 155);
}

a:link {
    color: rgb(205, 122, 226); 
}
a:visited {
    color: rgb(255, 72, 72);
}