@font-face {
    font-family: 'Norse';
    src: url('.fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* Resets */
:root {
    font-size: 100%;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;

    --pink: #fff6f2;
    --pink-accent: #fffcfd;
    --blue: #bcdbdb;
    --blue-accent: #b0c5c3;
    --red: rgb(245, 184, 184);
    --black: rgb(23, 19, 43);
    --dark-pink: rgb(51, 37, 47);
}
button, 
input,
label {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

input:focus {
    outline:none;
}

h1, h2, h3, h4, body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Flex area */
body,
.logo-area,
.half-page,
.side-image-area,
.form-container,
form {
    display: flex;
}

body {
    background: rgb(243, 245, 247);
    align-items: stretch;
    height: 150vh;
}

.side-image-area {
    flex-direction: column;
    justify-content: space-between;
    min-width: 40vw;
    background: url(./imgs/pawel-czerwinski-NhQSPqzklPU-unsplash.jpg) scroll;
    background-size: 1400px;
}

.side-image-area p {
    align-self: center;
    color: rgba(49, 39, 56, 0.678);
}

a[href*="unsplash"]:link {
    color: rgb(159, 204, 255);
}

a[href*="unsplash"]:visited {
    color: rgb(73, 116, 151);
}

header,
.form-container {
    padding-left: 3em;
}
header {
    font-size: 15px;
    color: var(--black);
    margin-top: 10rem;
    padding-right: 1em;
    margin-bottom: 2rem;
}

.logo-area {
    background: rgba(0, 0, 0, 25%);
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em;
    margin-top:13.3em;
}

.logo-area h1 {
    font-family: "Norse", sans-serif;
    font-size: 90px;
    padding: 0;
    margin: 0;
    color: white;
}

.logo-area img {
    width: 100px;
}

.half-page {
    flex-direction: column;
    gap: 2rem;
}

.form-container {
    flex-direction: column;
    background: rgb(245, 240, 242);
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    box-shadow: black 2px 2px 10px;
    max-height: auto;
    gap: 1em;
}

.form-container h3 {
    color: var(--dark-pink);
}

form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 0 0 auto;
    max-width: 520px;
    gap: 1.2em;
}
form h3 {
    margin-bottom: 1em;
}


.sign-up-row:nth-child(even) {
    padding-left:3.5em;
}

.sign-up-row label {
    color: rgb(110, 102, 109);
    font-weight:700;
}

.sign-up-row input {
    display: block;
    height: 2em;
    padding-left: 0.3em;
    border: none;
    outline: var(--blue-accent) 1px solid;
    border-radius: 5px;
    background: var(--pink-accent);
}

input:focus {
    outline: var(--blue) 2px solid;
    background-color: white;
    box-shadow: 2px 2px 3px rgb(151, 67, 109);
}

input:invalid {
    outline: rgba(252, 82, 82, 0.719) 1.5px dashed;
}

input:invalid:focus {
    outline: rgba(255, 80, 80, 0.637) 2px solid;
}

.pwd::after {
    content: " * (required)";
    font-family: inherit;
    font-size:14px;
    color: rgb(110, 102, 109);
}

.footer {
    margin-left: 3em;
}

button {
    border-style: none;
    padding: 1em;
    width: 14rem;
    border-radius: 5px;
    background: rgb(245, 159, 209);
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px var(--dark-pink);
    font-weight: 700;
    margin-bottom: 0.75em;
    box-shadow: rgb(86, 50, 128) 2px 2px 4px;
}

button:hover {
    background: rgb(248, 128, 208);
}

button:active {
    box-shadow: inset 0px 0px 10px rgb(130, 42, 156);
    background: rgb(199, 105, 133);
}
button:focus {
    outline: 2px rgb(163, 65, 106) solid;
}

a:link {
    color: rgb(253, 153, 211);
}
a:visited {
    color: rgb(199, 105, 133);
}